<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' /> {{!--
  <link rel="shortcut icon" href="https://png.icons8.com/material/50/000000/sort-by-creation-date.png"> --}}
  <link rel="shortcut icon" href="images/cube-16x16.png">
</head>

<body>
  {{{body}}}
</body>

</html>
